{% extends "base.html" %} {% block content %}
{% if error %}
<script>alert("{{ error }}")</script>
{% endif %}
<div>
    <div>
        <div>
          <div class="text-center">
            <h1>DMS Project Storage Management System</h1>
            <br/>
            <h2>Retrieving your account information...</h2>
          </div>
        </div>
        <div class="row">
            <div class="member-form">
                <form action="" method="post" name="index">
                    {{ form.hidden_tag() }}
                    <div class="small-4 columns">
                      &nbsp;
                    </div>
                    <div class="small-4 columns">
                        (RFID number)<br/> {{ form.member_id(class_="member_id", size=10, autofocus=true) }}
                    </div>
                    <div class="small-4 columns">
                      &nbsp;
                    </div>
                </form>
                <div class="row">
                    <div class="small-12 columns">
                      <div class="text-center">
                        Get a project storage ticket
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
