<html>
<head>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- jQuery UI theme or Bootstrap (optional, if you create a custom theme) -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery UI position utility (optional, if you position the keyboard yourself) -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

<!-- keyboard widget css & script -->
<link href="../static/css/keyboard.css" rel="stylesheet">
<script src="../static/js/jquery.keyboard.js"></script>

<!-- css for the preview keyset extension -->
<link href="../static/css/keyboard-previewkeyset.css" rel="stylesheet">

<!-- keyboard optional extensions - include ALL (includes mousewheel) -->
<script src="../static/js/jquery.keyboard.extension-all.js"></script>
<!-- or include individual extensions, as desired -->
<!--
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.keyboard.extension-altkeypopup.js"></script>
<script src="js/jquery.keyboard.extension-autocomplete.js"></script>
<script src="js/jquery.keyboard.extension-caret.js"></script>
<script src="js/jquery.keyboard.extension-extender.js"></script>
<script src="js/jquery.keyboard.extension-mobile.js"></script>
<script src="js/jquery.keyboard.extension-navigation.js"></script>
<script src="js/jquery.keyboard.extension-previewkeyset.js"></script>
<script src="js/jquery.keyboard.extension-scramble.js"></script>
<script src="js/jquery.keyboard.extension-typing.js"></script>
--><!-- script type="text/javascript" src="../static/js/keyboard.js" charset="UTF-8"></script -->
<!-- link rel="stylesheet" type="text/css" href="../static/css/keyboard.css" -->
</head>
<body>
<div class="block" id="autocomplete">
<br>
<input id="text" type="text">

    <div>
        <div>
          <div class="text-center">
            <h1>DMS Project Storage Management System</h1>
            <br/>
            <h2>Please scan your RFID badge</h2>
          </div>
        </div>
        <div class="row">
            <div class="member-form">
                <form action="" method="post" name="index">
                    <div class="small-4 columns">
                      &nbsp;
                    </div>
                    <div class="small-4 columns">
                        (RFID number)<br/> form.member_id(class_="member_id", size=10, autofocus=true)
                    </div>
                    <div class="small-4 columns">
                      &nbsp;
                    </div>
                </form>
                <div class="row">
                    <div class="small-12 columns">
                      <div class="text-center">
                        Get a project storage ticket
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
